<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCYN0x2M8y9rl7d8rd_YiX8ZTRGryl90pA",
    authDomain: "chefling-f122c.firebaseapp.com",
    databaseURL: "https://chefling-f122c.firebaseio.com",
    projectId: "chefling-f122c",
    storageBucket: "chefling-f122c.appspot.com",
    messagingSenderId: "691873766990",
    appId: "1:691873766990:web:be56829a231a56fe38ad1f",
    measurementId: "G-FGLJ7N7M8W"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>